$bodyBackgroundColor: #fcfcfc;
$dropMenuColor: #fff;
$dropMenuTextColor: #7d7d7d;
$menuCollapseWidth: 1000px;
$leftWidth: 380px;
$imageHeaderWidthLarge: 1000px;
$imageHeaderWidthMedium: 800px;
$imageHeaderWidthSmall: 500px;
$mainColor: #9d3e82;
$imageLogo: "/themedna/images/dna-logo.svg";
