td.admin-tree-title {
	.controls { display: inline-block; padding: 0; position: relative; visibility: hidden; float: right;}
	.bullet { display: inline-block; padding: 0; }
	.bullet-level-0 { padding-left: 0px;}
	.bullet-level-1 { padding-left: 50px;}
	.bullet-level-2 { padding-left: 100px;}
	.bullet-level-3 { padding-left: 150px;}
	.bullet-level-4 { padding-left: 200px;}
	.bullet-level-5 { padding-left: 250px;}
	.bullet-level-6 { padding-left: 300px;}
	.bullet-level-7 { padding-left: 350px;}

	.controls a.control {
		float: right;
		margin: 0 0 0 1px;
		top: 0;
		display: inline-block;
		padding: 4px 3px;
		border: 1px solid #ccc;
		border-radius: 4px;
		border-color: rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		background-repeat: repeat-x;
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-color: #f5f5f5;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
	}
	.controls .comment {
		margin: 0;
		font-size: 12px;
		color: #888;
	}

	.controls a.p1 {
		left: -43px;
	}

	.controls a.p2 {
		left: -20px;
	}

	.controls a.control:hover {
		background-color: #eee;
		background-image: none;
	}

	.controls a.control i {
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		padding: 0;
		margin-top: 1px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.controls a.control i.up:before {
		content: "\e093";
	}

	.controls a.control i.down:before {
		content: "\e094";
	}

}
tr:hover td.admin-tree-title .controls { visibility: visible;}
